*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
}
.resume-contents{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #999999;
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color: #424a50;
    border-radius: 0px 60px 0px 0px;
    padding: 20px;

}
.left-section-contents{
    padding: 2rem 2rem;
}
.profile{
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}
.profile .profile-image{
    width: 328px;
    height: 330px;
    border-radius: 100%;
}

.name{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profession{
    text-align: center;
    font-size: 22px;
}
.contact-info{
    text-align: center;
    padding: 10px;
}

.contact{
    padding: 10px;
}

.skils{
    text-align: center;
}

.left-title{
    padding: 10px;
}

.right-title{
    margin-bottom: 1rem;
}

.experience-contents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
       
}

.experience-company-name,
.exp-position{
    font-size: 22px;
    margin-top: 35px;
}